h1 {
  background-color: rgb(124, 85, 230);
  color: rgb(237, 241, 243);
  text-align: center;
}

h3 {
  color: rgb(58, 57, 57);
  text-align: center;
}

li {
  margin-left: 15px;
  background-color: blanchedalmond;
  text-align: center;
  margin-bottom: 8px;
}

h2 {
  color: black;
  text-align: center;
}
